body {
  font-family: $font1;
  color: $color-grey;
  font-size: 16px;
  letter-spacing: 1px;
  @include respond-to('small') {
    font-size: 16px;
  }
  .title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .section {
    margin: 300px 0;
  }
  h1 {
    font-family: $font2;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    position: relative;
    padding: 40px 0;

    @include respond-to('medium') {
      font-size: 30px;
    }
    @include respond-to('small') {
      font-size: 25px;
    }
  }

  h2 {
    font-family: $font2;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    padding: 0 0 15px 0;
    color: $color-orange;
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: $color-orange;
    }
    @include respond-to('medium') {
      font-size: 25px;
    }
    @include respond-to('small') {
      font-size: 20px;
    }
  }

  h3 {
    font-family: $font1;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    padding: 25px 0 18px;
    @include respond-to('small') {
      font-size: 22px;
      margin: 4px 0;
      line-height: 27px;
    }
  }

  h4 {
    font-family: $font1;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 20px 0;
    @include respond-to('small') {
      font-size: 14px;
    }
  }

  p {
    font-family: $font1;
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  img {
    max-width: 100%;
  }
  ul {
    margin: 20px 0;
    li {
      margin: 10px 0;
      list-style-position: inside;
    }
  }
}

.btn-style {
  color: $color-orange;
  background-color: $color-white;
  border: 1px solid $color-orange;
  font-size: 22px;
  text-decoration: none;
  padding: 6px 12px;
  @include transition(0.2s);
  border-radius: 9px;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    right: -14px;
    bottom: -14px;
    width: 100%;
    height: 100%;
    background-color: $color-orange;
    border: 1px solid $color-orange;
    border-radius: 9px;
    z-index: -1;
    @include transition(0.2s);
    pointer-events: none;
  }
  &:hover {
    color: $color-white;
    background-color: $color-orange;
    &::after {
      right: 0;
      bottom: 0;
    }
  }
}

.btn {
  background-color: $color-orange;
  font-size: 18px;
  padding: 0 30px;
  color: $color-white;
  border: 1px solid $color-orange;
  font-weight: 700;
  @include transition(0.3s);
  &:hover {
    background-color: $color-white;
    color: $color-orange;
    border: 1px solid $color-orange;
  }
}

.form-container {
  max-width: 650px;
  margin: auto;
  border: 3px solid $color-orange;
  padding: 20px;
  border-radius: 9px;
  position: relative;
  h2 {
    color: $color-grey;
    margin: auto;
    font-size: 2em;
    text-align: center;
    &::after {
      background: unset;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      border: 1px solid $color-orange;
      margin-bottom: 15px;
    }
    .btn-container {
      display: flex;
      justify-content: center;
    }
  }
  p {
    text-align: center;
  }
  .required {
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-size: 16px;
  }
}
