.home-page {
  position: relative;
  z-index: 0;
  .even-section {
    .text-content {
      padding-left: 50px;
    }
  }
  .odd-section {
    .text-content {
      padding-right: 50px;
    }
  }
  .img-container {
    @include respond-to('medium') {
      margin-top: 50px;
    }
  }
  .about {
    p span {
      color: $color-orange;
      font-weight: bold;
    }
    .btn-container {
      margin-top: 30px;
    }
  }
  .management {
    .slick-slider {
      .slick-dots {
        button::before {
          font-size: 18px;
          color: $color-orange;
        }
        .slick-active {
          button::before {
            color: $color-orange;
          }
        }
        button:hover {
          color: $color-orange;
        }
      }
    }
  }

  .productivity {
    .img-container {
      @include respond-to('medium') {
        order: 2;
      }
    }
    .text-content {
      @include respond-to('medium') {
        order: 1;
      }
    }
  }

  .contact {
    padding: 50px 0;
    background-color: $color-orange-2;
    margin-bottom: 0;
    &::after {
      content: '';
      position: absolute;
      right: 300px;
      bottom: 0px;
      background-image: url('../../../assets/images/contact-img.svg');
      background-repeat: no-repeat;
      background-size: 400px;
      width: 400px;
      height: 328px;
      @include respond-to('medium') {
        content: none;
      }
    }
    .text-content {
      p.subtitle {
        font-weight: 700;
      }
      form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 20px;
          border: 1px solid $color-orange;
          outline: 0;
        }
        textarea {
          border: 1px solid $color-orange;
          outline: 0;
        }
        .btn-container {
          margin-top: 15px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
