.home-page {
  position: relative;
  z-index: 0;
  .even-section {
    .text-content {
      padding-left: 50px;
    }
  }
  .odd-section {
    .text-content {
      padding-right: 50px;
    }
  }
  .about {
    p span {
      color: $color-orange;
      font-weight: bold;
    }
    .btn-container {
      margin-top: 30px;
    }
  }
  .productivity {
  }
}
