.home-page {
  position: relative;
  z-index: 0;
  .even-section {
    .text-content {
      padding-left: 50px;
    }
  }
  .odd-section {
    .text-content {
      padding-right: 50px;
    }
  }
  .about {
    p span {
      color: $color-orange;
      font-weight: bold;
    }
    .btn-container {
      margin-top: 30px;
    }
  }
  .management {
    .slick-slider {
      .slick-dots {
        button::before {
          font-size: 18px;
        }
        .slick-active {
          button::before {
            color: $color-orange;
          }
        }
      }
    }
  }
  .contact {
    padding: 50px 0;
    background-color: #ffebd4;
    .text-content {
      p.subtitle {
        font-weight: 700;
      }
      form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 20px;
        }
        .btn-container {
          margin-top: 15px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
