.account-page {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      button:first-child {
        margin-right: 15px;
      }
    }

    input {
      margin-bottom: 15px;
    }
    label {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  #account-content {
    &.active {
      display: none;
    }
  }
}
#delete-account-form {
  display: none;
  &.active {
    display: flex;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#reset-pw-form {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
