.account-page {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    button {
      display: block;
      background-color: $color-red;
      border: 1px solid $color-red;
      color: $color-white;
      font-size: 18px;
      margin: 10px 0;
      @include transition(0.3s);
      &:hover {
        background-color: $color-white;
        color: $color-red;
      }
    }
  }
  #account-content {
    &.active {
      display: none;
    }
  }
}

#reset-pw-form {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    background-color: $color-green;
    border: 1px solid $color-green;
    &:hover {
      color: $color-green;
      background: none;
    }
  }
}
