.account-page {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      button:first-child {
        margin-right: 15px;
      }
    }
    button {
      display: block;
      background-color: $color-red;
      border: 1px solid $color-red;
      color: $color-white;
      font-size: 18px;
      margin: 10px 0;
      @include transition(0.3s);
      &:hover {
        background-color: $color-white;
        color: $color-red;
      }
    }
    input {
      margin-bottom: 15px;
    }
    label {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  #account-content {
    &.active {
      display: none;
    }
  }
}
#delete-account-form {
  display: none;
  &.active {
    display: flex;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#reset-pw-form {
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    background-color: $color-green;
    border: 1px solid $color-green;
    &:hover {
      color: $color-green;
      background: none;
    }
  }
}
