.dashboard-page {
  .header-section {
    margin-top: 200px;
  }
  h1 {
    color: $color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-round {
      margin-left: 6px;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
    padding: 0 0 10px 0;
  }
  #addNote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-orange;
    max-width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    opacity: 0;
    border-radius: 9px;
    z-index: -1;
    input {
      margin-bottom: 15px;
    }
    input,
    textarea {
      border: 1px solid $color-orange;
    }
  }
  #notes-container {
    display: none;
    &.active {
      display: block;
    }
  }
  #add-note-form {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.active {
      display: block;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  #add-note-form {
    .form-container {
      label {
        margin-bottom: 10px;
        font-size: 18px;
      }
      input {
        margin-bottom: 15px;
        border: 1px solid $color-grey;
        width: 100%;
      }
      .btns-container {
        margin-top: 15px;
        .btn:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  section.current-notes,
  section.deleted-notes {
    margin-bottom: 100px;
  }

  .current-notes-container {
    display: flex;
    flex-wrap: wrap;
    .note-container {
      width: 20%;
      margin-bottom: 30px;
      .note-content {
        margin: 10px;
        position: relative;
        input {
          background-color: $color-orange;
          color: $color-white;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          margin: 0;
          text-align: center;
          width: 100%;
          font-size: 24px;
        }
        textarea {
          border: 1px solid grey;
          border-top: unset;
          border-bottom: unset;
          margin: 0;
          padding: 20px 8px;
          min-height: 125px;
          width: 100%;
          background: unset;
        }
        .options-container {
          position: absolute;
          border: 1px solid grey;
          position: absolute;
          width: 100%;
          bottom: -20px;
          button {
            border: unset;
            background: unset;
            font-weight: bold;
            color: $color-green;
          }
          button.delete-btn {
            color: $color-red;
          }
        }
      }
    }
  }
}
