.dashboard-page {
  .section {
    margin: 200px 0;
  }
  h1 {
    color: $color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-round {
      margin-left: 6px;
    }
  }
  #addNote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-orange;
    max-width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    opacity: 0;
    border-radius: 9px;
    input {
      margin-bottom: 15px;
    }
    input,
    textarea {
      border: 1px solid $color-orange;
    }
  }
  #notes-container {
    display: none;
    &.active {
      display: block;
    }
  }
  #add-note-form {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.active {
      display: block;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  #add-note-form {
    .form-container {
      label {
        margin-bottom: 10px;
        font-size: 18px;
      }
      input {
        margin-bottom: 15px;
        border: 1px solid $color-grey;
        width: 100%;
      }
      .btns-container {
        margin-top: 15px;
        .btn:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  .current-notes-container {
    display: flex;
    flex-wrap: wrap;
    .note-container {
      width: 20%;
      .note-content {
        margin: 10px;
        h3 {
          background-color: $color-orange;
          color: $color-white;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          margin: 0;
          padding: 8px;
          text-align: center;
        }
        p {
          border: 1px solid grey;
          border-top: unset;
          margin: 0;
          padding: 20px 8px;
        }
      }
    }
  }
}
