.dashboard-page {
  position: initial;
  z-index: 0;
  min-height: 100vh;
  .header-section {
    margin-top: 200px;
    margin-bottom: 50px;
    .sort-btns-container {
      label {
        color: $color-orange;
        font-weight: bold;
        margin-right: 5px;
        font-size: 18px;
      }
      select {
        font-size: 18px;
        border: unset;
        outline: unset;
      }
    }
  }
  h1 {
    color: $color-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-round {
      margin-left: 6px;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
    padding: 0 0 10px 0;
  }
  #addNote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-orange;
    max-width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    opacity: 0;
    border-radius: 9px;
    z-index: -1;
    input {
      margin-bottom: 15px;
    }
    input,
    textarea {
      border: 1px solid $color-orange;
    }
  }
  #notes-container {
    display: none;
    &.active {
      display: block;
    }
    .delete-note-popup {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      background-color: $color-white;
      padding: 15px;
      border: 1px solid grey;
      text-align: center;
      border-radius: 12px;
      button {
        margin: 0 10px;
        @include respond-to('medium') {
          margin: 10px;
        }
      }
    }
  }
  #add-note-form {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include respond-to('medium') {
      width: 85%;
    }
    &.active {
      display: block;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond-to('medium') {
        margin-top: 75px;
      }
      label {
        margin-bottom: 10px;
        font-size: 18px;
      }
      input,
      textarea {
        margin-bottom: 15px;
        border: 1px solid $color-grey;
        width: 100%;
        &:focus {
          outline: 2px solid $color-orange;
        }
      }
      .select-importance-container {
        label {
          margin-right: 10px;
        }
        select {
          border: 1px solid $color-grey;
          &:focus {
            outline: 2px solid $color-orange;
          }
        }
      }
      .btns-container {
        margin-top: 15px;
        .btn:first-child {
          margin-right: 15px;
        }
      }
    }
  }

  section.current-notes,
  section.deleted-notes {
    margin-bottom: 100px;
  }

  .current-notes-container {
    display: flex;
    flex-wrap: wrap;
    @include respond-to('small') {
      justify-content: center;
    }
    .note-container {
      margin-bottom: 30px;
      select,
      input,
      textarea {
        color: $color-grey;
      }
      .note-header {
        display: flex;
        background-color: $color-orange;
        color: rgb(255, 255, 255);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        margin: 0px 10px;
        input {
          background: unset;
          border: unset;
          color: $color-white;
          margin: 0;
          text-align: center;
          width: 100%;
          font-size: 24px;
        }
        .btns-container {
          display: flex;
          align-items: center;
          button {
            background-color: unset;
            border: unset;
            color: $color-white;
          }
        }
      }
      .note-content {
        margin: 0px 10px;
        position: relative;
        border: 1px solid grey;
        textarea {
          margin: 0;
          padding: 20px 8px;
          min-height: 125px;
          width: 100%;
          background: unset;
          border: unset;
          text-align: center;
        }
        .options-container {
          position: relative;
          width: 100%;
          bottom: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 8px;
          button {
            border: unset;
            background: unset;
            font-weight: bold;
            color: $color-green;
          }
          button.delete-btn {
            color: $color-red;
          }
        }
      }
    }
  }
}
