header {
  padding: 25px 0;
  box-shadow: 0px 3px 9px #d5d4d4;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to('small') {
      padding: 0 10px;
    }
    .logo {
      img {
        @include respond-to('xsmall') {
          width: 75%;
        }
      }
    }
    .dk-nav {
      position: relative;
      @include respond-to('small') {
        display: none;
      }
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        .link-container {
          display: flex;
        }
        li {
          color: $color-orange;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            color: $color-orange;
            position: relative;
            font-weight: bold;
            &.active {
              &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $color-orange;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
                animation: growWidth 0.4s linear forwards;
              }
            }
            &:hover {
              &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $color-orange;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
                animation: growWidth 0.4s linear forwards;
              }
            }
          }
          button {
            border: unset;
            border-radius: 50%;
            background: $color-orange;
            color: $color-white;
            padding: 2px 6px;
          }
        }
      }
    }
    .sm-nav {
      display: none;
      @include respond-to('small') {
        display: block;
      }
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
          margin: 10px 5px;
          color: $color-orange;
          a {
            color: $color-orange;
            text-decoration: none;
          }
          button {
            border: unset;
            border-radius: 50%;
            background: $color-orange;
            color: $color-white;
            padding: 2px 6px;
          }
        }
      }
      #subnav-sm {
        opacity: 0;
        position: absolute;
        bottom: 50px;
        flex-direction: column;
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-orange;
        right: -48px;
        &.active {
          opacity: 1;
          right: 65px;
          bottom: -110px;
        }
      }
    }
  }
  #subnav {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-orange;
    right: -48px;
    @include transition(0.2s);
    &.active {
      opacity: 1;
      bottom: -160px;
    }
    li {
      padding: 8px 6px;
      margin: 0 !important;
      width: 100%;
      border-bottom: 1px solid $color-orange;
      text-align: center;
      &:last-child {
        border-bottom: unset;
      }
      button {
        border-radius: 0;
        background-color: $color-red;
      }
    }
  }
}
