header {
  padding: 25px 0;
  box-shadow: 0px 3px 9px #d5d4d4;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dk-nav {
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        li {
          color: $color-orange;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            color: $color-orange;
            position: relative;
            font-weight: bold;
            &.active {
              &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $color-orange;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
                animation: growWidth 0.4s linear forwards;
              }
            }
            &:hover {
              &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $color-orange;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
                animation: growWidth 0.4s linear forwards;
              }
            }
          }
          button {
            border: unset;
            border-radius: 50%;
            background: $color-orange;
            color: $color-white;
            padding: 2px 6px;
          }
        }
      }
    }
  }
  .subnav {
    opacity: 0;
    position: absolute;
    bottom: 150px;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-orange;
    padding: 8px !important;
    &.active {
      opacity: 1;
      bottom: 0;
    }
    li {
      margin-right: 0 !important;
    }
  }
}
