header {
  padding: 25px 0;
  box-shadow: 0px 3px 9px #d5d4d4;
  position: static;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dk-nav {
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        li {
          color: $color-orange;
          &:first-child {
            margin-right: 15px;
          }
          a {
            text-decoration: none;
            color: $color-orange;
            position: relative;
            font-weight: bold;
            &.active {
              &::after {
                content: '';
                position: absolute;
                width: 80%;
                height: 2px;
                background-color: $color-orange;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
              }
            }
          }
        }
      }
    }
  }
}
